

<web-app version="3.0">
  <display-name>Archetype Created Web Application</display-name>


<servlet>
  <servlet-name>PageControllerServlet</servlet-name>
  <servlet-class>ua.gorbatov.library.servlet.PageControllerServlet</servlet-class>
</servlet>
  
  <servlet-mapping>
    <servlet-name>PageControllerServlet</servlet-name>
    <url-pattern>/api</url-pattern>
  </servlet-mapping>
</web-app>